@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Coda+Caption:800);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body{
  background-image: url('../media/Red-Wallpaper.jpeg');
  background-size: cover;
  background-attachment: fixed;
}

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
  /* Set your content font stack here: */
  font-family: 'Open Sans', sans-serif;
}

h1 {
  color: rgba(236, 187, 40, 0.84);
  font-family: 'Coda Caption', sans-serif;
  font-size: 50px;
  text-align: center;
  text-shadow: 2px 2px black;
  text-decoration: underline;
  transform: rotate(-9deg);
  -ms-transform: rotate(-9deg);
  -webkit-transform: rotate(-9deg);
}

.pure-form {
  text-align: center;
}

h3 {
  color: #3155c4;
  font-size: 25px;
  font-weight: 1000px;
  margin: 10px;
}

input {
  margin: 10px;
}

.pure-button {
  background-color: #3155c4;
  border-radius: 6px;
  color: yellow;
}

#game {
  color: #3155c4;
  background-color: #e3dc24;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.avatar {
  width: 40px;
  height: 40px;
}

.horizontal {
  background-color: rgba(67, 194, 36, 0.53) !important;
}

.vertical {
  background-color: rgba(57, 192, 36, 0.53) !important;
}

.arrow {
  margin: 10px 4px;
}

#dice {
  padding: 10px;
  width: 440px;
  display: inline-block;
  margin-left: 29%;
  vertical-align: middle;
}

#rollbtn {
  margin: auto;
  display: inline-block;
  width: 60px;
  height: 109px;
}

.dice {
  width: 70px;
  height: 70px;
  margin: 7px;
}

#arrows {
  margin: 0 auto 20px auto;
  width: 240px;
}

.frozen {
  width: 80px;
  height: 80px;
  opacity: 0.68;
}
